body{
    background-color: rgb(34, 32, 32);

}
    h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
}

p {
  text-align: center;
  color: red;
}

    body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}